body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    color: whitesmoke;
    background-color: red;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

p {
    font-style: italic;
}
