# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/HTML and CSS design and build websites.pdf
/JAVASCRIPT & JQUERY Interactive Front-End Web Development.pdf
/filezilla.png
/Week Eight/Homework8/bootstrap/
/Week Seven/Homework7/bootstrap/
/bootstrap/
/bootstrap-4.1.3-dist.zip
